.chat-window {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 300px;
  height: 500px;
  border: 1px solid #721919;
  box-shadow: 0 0 10px #ec3131;
  border-radius: 15px;
  z-index: 1001;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: aqua;
  font-size: 10px;

  scrollbar-width: thin; 
  scrollbar-color: #4a4a4a #2d2e41; 
}

.ellipsis {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #ffffff;
}

.ellipsis::after {
  content: '...';
  animation: ellipsisAnimation 1.5s infinite;
}

@keyframes ellipsisAnimation {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}




.chat-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
}

.chat-button:hover {
  background-color: #001515;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 300px;
}

.chat-message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word; /* Breaks long words to the next line */
  white-space: pre-wrap; /* Preserves whitespace and allows wrapping */
}

.chat-message.user {
  background-color: #000000;
  align-self: flex-end;
  text-align: right;
}

.chat-message.bot {
  background-color: #000000;
  align-self: flex-start;
  text-align: left;
}

.my-input {
  width: 95%;
  background-color: #2d2e41; 
  border: 1px solid #020202;
  color: #393939;
  padding: 10px;
  border-radius: 4px;
}

.chat-window input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #181212;
  margin-top: 20px;
  color: #000000;
}

.chat-window button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.chat-window button:hover {
  background-color: #0056b3;
}

.askme {
  text-align: center;
  color: aqua;
  margin-bottom: 10px;
}
